{% extends 'pages/base.html' %}
{% block title %} Product Created - Online Store {% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Success!</div>
                <div class="card-body">
                    <div class="alert alert-success" role="alert">
                        Product created successfully!
                    </div>
                    <a href="{% url 'products' %}" class="btn btn-primary">Back to Products</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}